.home {
  /* Full height */
  box-sizing: border-box;
  max-width: 100%;
  height: 100%; 
  background-color: #222f;
  padding-left: 20%;
  padding-top: 20%;
}

.home p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
}

#school {
  color: gray;
  font-size: 1.3em;
}


#hello {
  color: #66fcf1;
  width: 100%;
  font-size: 7em;
  padding-bottom: 0;
  font-family: "Prata", serif;
  line-height: 0.75em;
}

#greeting {
  padding-top: 0;
  width: 100%;
  font-size: 3em;
  color: white;
  margin: 0;
}

#learn-more {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.1em;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  transition: 0.3s;
  border-radius: 20px;
}

#learn-more:hover {
  background-color: #66fcf1;
  color: #222f;
  border-color: #222f;
}